/* 
Globals
	Sass variable, mixins, plugins, etc. that are used throughout the entore site.
*/

// Function for converting a px based font-size to rem.
@function calculateRem($size) {
    $remSize: $size / 16px;
    @return #{$remSize}rem;
}

// Site variable
$color: #242424;
$background-color: #beeaff;
$background-color-alternate: #d8c0ff;


// Mixin that will include the fall back px declaration as well as the calculated rem value.
@mixin fontSize($size) {
    font-size: $size;
    font-size: calculateRem($size);
}

@mixin body-font-regular {

}

@mixin body-font-italic {

}

@mixin body-font-bold {

}

@mixin headline-font {

}